{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}



{% block sidenav %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
{% endblock sidenav %}


{% block body %}

    <form action="{% url 'login' %}" method="post">
        <table>
            {{ form.username|add_class:"form-control" }}
            {{ form.password|add_class:"form-control" }}
            <tr>
                <td rowspan="2">
                    <input type="submit" value="login">
                </td>
            </tr>
        </table>
        <p>
            To register <a href="{% url 'register' %}">Click Here</a>
        </p>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>

{% endblock body %}