{% extends "base.html" %}
{% load static %}



{% block header %}

    <div class="d-flex flex-row align-items-center align-self-center">
        <div class="d-flex flex-row mb-0">
            About Us - Group 4
        </div>
    </div>

{% endblock header %}


{% block body %}

    <div class="d-inline-flex flex-column">
        <div class="f-flex flex-column pb-2">
            <div class="h5">School</div>
            <div class="ps-3 pb-1">Cal State Los Angeles - Computer Science Department</div>
        </div>

        <div class="f-flex flex-column py-2">
            <div class="h5">Professor</div>
            <div class="ps-3 pb-1">Jiang Guo</div>
        </div>

        <div class="d-flex flex-column py-2">
            <div class="h5">Students/Developers</div>
            <div class="ps-3">
                <div class="py-1">Julaton, Jimuel</div>
                <div class="py-1">Lin, Chen-Ching</div>
                <div class="py-1">Liu, Saiyang</div>
                <div class="py-1">Lum, Jeffrey</div>
                <div class="py-1">Mai, Simon</div>
                <div class="py-1">Manese, Ashley</div>
                <div class="py-1">Moreno, Cristian</div>
            </div>
        </div>

    </div>
    
{% endblock body %}