{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}



{% block body %}

    {% if submitted %}
        <p>Post Book Successfully</p>
    {% else %}
        <form enctype="multipart/form-data" method="post" novalidate>
            <table class="table-borderless d-flex">
                <tr>
                    <td class="p-1"><label for="id_name">Name</label></td>
                    <td class="p-1">{{ form.name|add_class:"form-control"|attr:"autofocus" }}</td>
                </tr>
                <tr>
                    <td class="p-1"><label for="id_web">Web</label></td>
                    <td class="p-1">{{ form.web|add_class:"form-control" }}</td>
                </tr>
                <tr>
                    <td class="p-1"><label for="id_price">Price</label></td>
                    <td class="p-1">{{ form.price|add_class:"form-control" }}</td>
                </tr>
                <tr>
                    <td class="p-1"><label for="id_picture">Picture</label></td>
                    <td class="p-1">{{ form.picture|add_class:"form-control" }}</td>
                </tr>
                <tr>
                    <td class="p-1"><button type="submit" class="btn btn-primary" role="button">Submit</button></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    {% endif %}

{% endblock body %}