{% extends "base.html" %}
{% load static %}



{% block body %}

        <div class="d-flex flex-column m-2 shadow rounded mx-auto bg-light" style="width: 11rem;">
            <div class="mx-auto p-4">
                <a href="book_detail/{{ book.id }}">
                    <img src="
                        {% if book.picture %}
                            {% static book.pic_path %}
                        {% else %}
                            {% static 'logo.jpg' %}
                        {% endif %}
                    " width="120" height="175" />
                </a>
            </div>
        </div>

{% endblock body %}